.asideTexto, .asideImage{
    display: none;
    width: 98%;
}
h1{
    font-size: 2rem;
}
#asideBotonContainer{
    position: fixed;
    display: block;
    top: 10px;
    right: 10px;
    z-index: 10;    
}
main{
    width: 100%;
}
section{
    width: 100%;
    margin: 0 ;
}
.container-image{
    width: 60%;
    margin-top: 10px;
}
header{
    width: 100%;
}
.botonDescarga{
    width: 40%;
}