@import url('https://fonts.cdnfonts.com/css/stardos-stencil-2');
@import url(./normalize.css);

@import url(./desktop.css);
@import url(./mobile.css)screen and (max-width: 450px);




:root{
    --font-h1: 'Stardos Stencil', sans-serif;
    --bgc-body: #30343f;
    --bgc-header: #191e2b;                                   

}

