@import url('https://fonts.cdnfonts.com/css/stardos-stencil-2');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');
@import url(./normalize.css);

@import url(./desktop.css);




:root{
    --font-h1: 'Stardos Stencil', sans-serif;
    --font-text:
    --bgc-body: #30343f;
    --bgc-header: #30343f;
                                                  

}

